@page "/"
@using Volo.Abp.AspNetCore.Components.Notifications
@inherits ProjectsProjectComponentBase
@inject IUiNotificationService NotificationService

<div class="container">
    <div class="p-5 text-center">
        <MudButton OnClick="@(async () => { await NotificationService.Success("Hello, World!"); await NotificationService.Warn("Something went wrong!"); })">
            Show Notifications
        </MudButton>
    </div>
</div>
